@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@theme {
    --font-title: 'Boldonse';
    --font-goofy: 'Merriweather', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --font-chinese: 'Noto Sans TC', sans-serif;
    --color-blue: #1387C0;
    --color-beige: #FAEDD1;
    --color-orange: #FD6D2E;
}

body {
    background-color: beige;
}
.link {
    @apply cursor-pointer hover:underline;
}
.div-center {
    @apply h-full flex flex-col justify-center items-center
}
